
.box{
	padding:20px;
	max-height:100%;
	z-index:2 !important;
}
.icon{
	background:white;
}

header{
	height:200px;
	position:relative;
	z-index: 1;
}
.right>p{

	bottom:0px;
	left:60%;
	transform:translateX(-50%);
	font-size:0.8em;
	position:absolute;
	text-align: right;
	color:white;
	width:120px;

}
.baloon{
top:50%;
}
.coming{
top:100%;
transform:translateY(-100%);

}
.pulley{
	z-index: 2;
	height:80vh;
	position:relative;
	background:rgba(0,0,0,0.1);
}
.pulley>div{
	padding:0px;
	z-index: 2;
	position:absolute;
}
.pulley>div>img{
	max-height:100%;
	margin-top:-0.07%;
}
.right{
	background:rgba(150,150,150,1);
	height:100vh;
	position:absolute;
	right:0;
		z-index: 1
}
	.pulley .right{
		display:none;
	}
	header>.right{
		display:block;
	}


@media (max-width:992px){
	header{
		height:200px;
	}
	header>.right{
		display:none;
	}
	.right>p{
		left:77% !important;
	}
	.pulley .right{
		display:block;
		height:80px !important;
	}
	.box{
		position:absolute;
		top:0;
		padding-left:80%;
		height:40vh !important;
	}
	.icon{
		width:120px;
		height:80px;
		position:absolute;
		right:20px !important;
	}
	.box>img{
		margin-top:110px;
		position:absolute;
		right:20px !important;
		width:150px;
	}
	
	.baloon{
		position:absolute;
		margin-top:10vh;
		z-index:3;
	}
	.coming{
		position:absolute;
		margin-top:30vh;
	}
	.coming>img{
		padding:0 10vw 0px 10vw;
	}
	.pulley{
		
		margin-top:30vh;
		height:40vh;

	}
	.right{
		height:10vh !important;
		position:absolute;
		bottom:0 !important;
		margin-top: 50vh !important;
		z-index: 4 !important;
	
	}

}
@media (min-width:993px){
	.icon{
		width:120px;
		height:80px;
		position:absolute;
		bottom:60px;
		background:white;
		left:60%;
		transform:translateX(-50%);
}
.box>img{
		margin-top:100px;
		position:absolute;
		bottom:0;
		width:120px;
		left:60%;
		transform:translateX(-50%);
	}
}
